<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align: center; margin-top: 100px">
        {{ example_form.get_date }}
    {{ example_form.get_list }}

    </div>

</body>
</html>