<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Zone</title>
</head>
<body>
    {% load tz %}
    {% get_current_timezone as Time_Zone %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="'timezone">Time zone: </label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}" {% if tz == Time_Zone %} selected {% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="set">
    </form>

</body>
</html>