<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time</title>
</head>
<body>

    <div style="text-align: center; margin-top: 100px">

        <form action="" method="POST">
            {% csrf_token %}
            <label for="list_to_do">Description</label> : <input type="text" name="title" value="Title">
            <div class="inputDate" class="taskDate" name="date">

                <label for="due_create">Due Date: </label>
                 <input type="date" id="due_create" class="taskDate" name="date">
            </div>

            <div class="selectCategory">

            <label for="category.name">Category:</label>
                <select id="category" name="category_select">
                    <option class="disabled" value="">Choose a category</option>
                    {% for category in category %}
                    <option class="" value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>

                    {% endfor %}
                </select>

            </div>


            <br>
            <input type="submit" name="Add" value="Add">


        </form>


    </div>

       <div style="text-align: center; margin-top: 100px">
           {% for todo in todo %}


                    <li class="taskItem" id="{{ todo.id }}" value="{{ todo.id }}">
                   <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.list_to_do }}" value="{{ todo.list_to_do }}">

                     <label for="todo.list_to_do"><span class="complete-">{{ todo.list_to_do  }}</span></label>

                    <strong class="taskDate"><i class="fa fa-calendar"></i>{{ todo.created }} - {{ todo.due_date }}</strong>
                    
                </li>

           {% endfor %}
        {{ get_list.show_list }}

    </div>



</body>
</html>